.top {
    padding: 0 6vw 0 6vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
section {
    padding: 0 0 40px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.p-left {
    max-width: 60vw;
}

.img-right {
    height: 240px;
    padding: 0 2vw 0 4vw;
}

.img-left {
    height: 240px;
    padding: 0 4vw 0 2vw;
}

.p-right {
    max-width: 60vw;
}

.desc {
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    line-height: 4vh;
}

.bottom {
    padding: 12px 0 0 0;
}